{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ghelonico Maligaya</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/profile.css'%}">
        <link rel="stylesheet" href="{% static 'css/background.css'%}">
    </head>
    <body>
        <div class='side-bar' id='sideBar' onmouseover='toggleSidebar()' onmouseout='toggleSidebar()'>
            <a href="#"><span><i class="material-icons">info</i><span class="icon-text">&nbsp;&nbsp;&nbsp;&nbsp;about</span></a><br>
            <a href="#"><span><i class="material-icons">info</i><span class="icon-text">&nbsp;&nbsp;&nbsp;&nbsp;about</span></a><br>   
        </div>
        <div class='background'>
            <div class='ufo' id='a'>
                <div class='round'></div>
                <div class='stand'></div>
                <div class='head'></div>
                <div class='rstand'></div>
            </div>
            <div class='ufo' id='b'>
                <div class='round'></div>
                <div class='stand'></div>
                <div class='head'></div>
                <div class='rstand'></div>
            </div>
            <div class='ufo' id='c'>
                <div class='round'></div>
                <div class='stand'></div>
                <div class='head'></div>
                <div class='rstand'></div>
            </div>
            <div class='ufo' id='d'>
                <div class='round'></div>
                <div class='stand'></div>
                <div class='head'></div>
                <div class='rstand'></div>
            </div>
            <div class='ufo' id='e'>
                <div class='round'></div>
                <div class='stand'></div>
                <div class='head'></div>
                <div class='rstand'></div>
            </div>
            <div class='ufo' id='f'>
                <div class='round'></div>
                <div class='stand'></div>
                <div class='head'></div>
                <div class='rstand'></div>
            </div>
            <div class='ufo' id='g'>
                <div class='round'></div>
                <div class='stand'></div>
                <div class='head'></div>
                <div class='rstand'></div>
            </div>
            <div class='ufo' id='h'>
                <div class='round'></div>
                <div class='stand'></div>
                <div class='head'></div>
                <div class='rstand'></div>
            </div>
            <div class='ufo' id='i'>
                <div class='round'></div>
                <div class='stand'></div>
                <div class='head'></div>
                <div class='rstand'></div>
            </div>
            <div class='cloud'>
            {% comment %} start cloud effects planning to add lightning{% endcomment %}
            </div>
        </div>
        <div class='fName'> 
            <p id="name">Ghelonic</p>
            <div class='ball'>
                <div class='letter-O' onmouseover='changeBG()' onmouseout='changeBG()'>O
                    <div class='eye-ball'></div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/profile.js'%}"></script>
    </body>
</html>