body{
    background: rgb(194, 117, 117);
    margin: auto;
    padding: 0;
    height: 100%;
    width: 100%;   
}

.fName{
    font-size: 10vw;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: rgb(4, 33, 44);
    font-family: fontName;
}

@font-face {
    font-family: fontName;
    src: url(/static/fonts/AquireLight.otf);
}

/* Eye Ball property */
.ball {
    top: 50%;
    left: 110%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    background: radial-gradient(#7cb9ff, rgba(132, 113, 238, 0.432));
}

/* .ball:hover {
    animation: flicker 4s linear infinite;
} */

@keyframes flicker {
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    11%{
        opacity: 1;
    }
    14%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    24% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.letter-O {
    font-size: .7em;
    animation: animate 2s linear  infinite;
    transform: translatex(55px);
    margin-top: 15%;
    margin-left: 20%;
    color: rgb(0, 0, 0);
}

@keyframes animate {
    0% {
        transform: none;
    }
    20%, 30% {
        /* transform: translateX(-120px) translateY(0px) skewX(5deg) skewY(-10deg) scale(0.95); */
        transform: translateX(-30%) translateY(0px) skewX(5deg) skewY(-3deg) scale(.95) ;
    }
    40%, 45% {
        transform: none;
    }
    50%, 60% {
        /* transform: translateX(30px) translateY(0px) skewX(5deg) skewY(2deg) scaleX(0.95); */
        transform: translateX(30%) translateY(0px) skewX(-5deg) skewY(3deg) scaleX(0.95);
    }
    66%, 100% {
        transform: none;
    }
}

.eye-ball{
    width: 20%;
    height: 40%;
    border-radius: 50%;
    display: block;
    background: radial-gradient(circle at 50px 50px, #caa052, #000);
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

/* Side Bar */
.side-bar{
    height: 100%;
    width: 5vw;
    background: rgb(4, 33, 44);
    float: left;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    transition: 0.5s;
    display: block;
}

.side-bar-icons {   
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    height: 100%;
    width: 75%;
    position: absolute;
    display: grid;
}

/* home icon*/
.home { 
    margin-top: 10vh;
    width: 4vw;
    height: 8vh;
    text-align: center;
}

.home-cover{
    width: 4vw;
    height: 8vh;
    background: black;
    border-radius: 50%;
    display: flex;
}

.home a{
    color: white;
    font-family: fontName;
    font-size: 2vw;
    font-weight: 100;
    display: none;
    position: relative;
    bottom: 70%;
    left: 120%;
    text-decoration: none;
    animation: slide 1s linear;
}

.home-cover img {
    max-width: 3vw;
    max-height: 6vh;
    width: 3vw;
    height: 6vh;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    position: relative;
    animation: rotate 2s linear;
}

@keyframes slide {
    0%{
        left: 50%;
        opacity: .5;
    }  
    30%{
        left: 120%;
        opacity: 1;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(180deg);
    }  
    30%{
        transform: rotate(360deg);
    }
}