body{
    background: rgb(245, 239, 245);
    margin: auto;
    padding: 0;
}

.fName{
    font-size: 10em;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: rgb(4, 33, 44);
    font-family: fontName;
}

@font-face {
    font-family: fontName;
    src: url(/static/fonts/AquireLight.otf);
}

.ball {
    top: 50%;
    left: 110%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    background: radial-gradient(#7cb9ff, rgba(132, 113, 238, 0.432));
}

.letter-O {
    font-size: .7em;
    animation: animate 2s linear  infinite;
    transform: translatex(55px);
    margin-top: 15%;
    margin-left: 20%;
    color: rgb(0, 0, 0);
}

@keyframes animate {
    0% {
        transform: none;
    }
    20%, 30% {
        /* transform: translateX(-120px) translateY(0px) skewX(5deg) skewY(-10deg) scale(0.95); */
        transform: translateX(-30px) translateY(0px) skewX(5deg) skewY(-3deg) scale(.95) ;
    }
    40%, 45% {
        transform: none;
    }
    50%, 60% {
        /* transform: translateX(30px) translateY(0px) skewX(5deg) skewY(2deg) scaleX(0.95); */
        transform: translateX(30px) translateY(0px) skewX(-5deg) skewY(3deg) scaleX(0.95);
    }
    66%, 100% {
        transform: none;
    }
}

.eye-ball{
    width: 20%;
    height: 40%;
    border-radius: 50%;
    display: block;
    background: radial-gradient(circle at 50px 50px, #caa052, #000);
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.side-bar{
    height: 100%;
    width: 5%;
    background: rgb(4, 33, 44);
    float: left;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    transition: 0.5s;
    display: block;
}
